{
    "version": 6,
    "cmakeMinimumRequired": {
      "major": 3,
      "minor": 23,
      "patch": 0
    },
    "configurePresets": [
      {
        "name": "sycl-debug",
        "inherits": "debug",
        "displayName": "SYCL Debug Configure Preset",
        "description": "Configure using acpp compiler to compile sycl",
        "cacheVariables": {
          "CMAKE_CXX_COMPILER": "YOUR_SYCL_COMPILER_HERE"
        }
      },
      {
        "name": "sycl-release",
        "inherits": "release",
        "displayName": "SYCL Release Configure Preset",
        "description": "Configure using acpp compiler to compile sycl",
        "cacheVariables": {
          "CMAKE_CXX_COMPILER": "YOUR_SYCL_COMPILER_HERE"
        }
      }
    ],
    "buildPresets": [
      {
        "name": "sycl-debug",
        "inherits": "debug",
        "displayName": "SYCL Debug Build Preset",
        "configurePreset": "sycl-debug",
        "jobs": 8
      },
      {
        "name": "sycl-release",
        "inherits": "release",
        "displayName": "SYCL Release Build Preset",
        "configurePreset": "sycl-release",
        "jobs": 8
      }
    ]
  }
  